body {
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

body h1 {
    font-size: 55px;
    color: azure;
    background-color: darkblue;
}

.dropbtn {
    background-color: chartreuse;
    color: white;
    padding: 16px;
    font-size: 30px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}